# Secrets
.env
*.env
server/cert.pem
server/key.pem

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Node
frontend/node_modules/
frontend/build/

# OS
.DS_Store
Thumbs.db

.vercel
